/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

html
body
	font-size 14px


:root
	--padding: .5rem
	--margin: 1rem
	--border-radius: 3px

	--primary-color: #000
	--primary-text: #fff

	--primary-color-hue: #3E4651
	--primary-text-hue: rgba(255, 255, 255, 0.7)

	--primary-color-subtle: #767D87

	--accent-color: #71bc4f
	--accent-text: #fff

	--accent-color-hue: #99e165

	--secondary-color: #ffffff
	--secondary-text:#000

	--secondary-color-hue: #e7eaf0
	--secondary-text-hue: rgba(0, 0, 0, 0.7)


ul
	list-style: none
	margin: 0
	padding: 0
	display flex
li
	outline: none

a
a:hover,
a:active,
a:focus,
a:visited
	text-decoration none
	outline: none


*,
*:before,
*:after
    box-sizing: inherit
	box-sizing: border-box;



