<section class="issue" *ngIf="issue; else loader">
	<h2>{{issue.title}}
		<span> #{{issue._id}}</span>
	</h2>
	<div class='issue-title'>
		<span class="issue-title-status" [ngClass]="issue.status">{{issue.status}} </span>
		<span class="issue-title-name">
			{{issue.user.username}}
		</span>
		<span class=issue-title-date>
			this issue opened on {{issue.createdAt | dateAgo}}.
			{{commentsLength < 1 ? commentsLength  : commentsLength  -1}}
			comments
		</span>
	</div>
	<div class="issue-wrap">
		<div class="">
			<div class="cards" *ngIf="comments">
				<app-comment-card [comment]="comment" *ngFor="let comment of comments"
					(removeCommentEmit)='removeComment($event)'></app-comment-card>
			</div>
			<div class='comment-form'>
				<div class="comment-form-user">{{user.username}}</div>
				<app-comment-form [issue]="issue" (createCommentEmit)=createComment($event)></app-comment-form>
			</div>
		</div>
		<aside></aside>
	</div>
</section>


<ng-template #loader>
	<app-loader></app-loader>
</ng-template>
