<header class="issue-header">
	<div class='issue-back' *ngIf="previousUrl" routerLink="{{previousUrl}}">
		<mat-icon>arrow_back</mat-icon>BACK
	</div>
</header>
<section class="issue" *ngIf="issue; else loader">
	<h2>{{issue.title}}
		<span> #{{issue._id}}</span>
	</h2>
	<div class='issue-title'>
		<span class="issue-title-status" [ngClass]="issue.status">{{issue.status}} </span>
		<span class="issue-title-name">
			{{issue.user.username}}
		</span>
		<span class=issue-title-date>
			this issue opened on {{issue.createdAt | dateAgo}}.
			{{commentsLength < 1 ? commentsLength  : commentsLength  -1}}
			comments
		</span>
	</div>
	<div class="issue-description">
		<mat-card>
			<mat-card-content>
				<p>{{issue.description}}</p>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="issue-wrap">
		<div class="">
			<div class="cards" *ngIf="comments">
				<app-comment-card [comment]="comment" *ngFor="let comment of comments"
					(removeCommentEmit)='removeComment($event)'></app-comment-card>
			</div>
			<div class='comment-form'>
				<div class="comment-form-user">{{user.username}}</div>
				<app-comment-form [issue]="issue" (createCommentEmit)=createComment($event)></app-comment-form>
			</div>
		</div>
		<aside>
			<mat-form-field>
				<mat-label>Please Select Status</mat-label>
				<mat-select placeholder="Favorite food" [value]="selected" (selectionChange)=updateStatus($event.value)>
					<mat-option *ngFor="let s of statuses" [value]="s.value">
						{{s.value}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<div class="asign">
				<h6>Assign up to {{issue.assignUser.length}} people to this issue</h6>
				<ul class="asign-list" *ngIf="issue.assignUser.length">
					<li *ngFor="let item of issue.assignUser">{{item}}</li>
				</ul>
				<input matInput placeholder="Type to choose a name" type="text" (keyup)="search($event)" autofocus>
				<mat-selection-list>
					<mat-list-option *ngFor="let item of this.users" (click)="assignUser(item)"
						[selected]='isSelected(item)'>
						{{item.username}} - {{item._id}}
					</mat-list-option>
				</mat-selection-list>
			</div>
		</aside>
	</div>
</section>


<ng-template #loader>
	<app-loader></app-loader>
</ng-template>
