h2
	font-size: 32px
	font-weight: 400
	color: #24292e
	margin-bottom: 0
	padding: var(--padding)
	span
		font-weight: 300
		color: var(--gray-text)
		font-size: 24px

.cards
	padding: var(--padding)
	display: grid
	grid-gap: var(--padding)
	background: var(--primary-color-subtle)
	grid-template-rows: 1fr

.issue
	&-wrap
		display: grid
		grid-template-columns: 1fr 250px
		grid-gap: var(--padding)
	&-title
		padding: var(--padding)
		&-name
			color: var(--gray-text)
			font-weight: bold
			font-size: 1.2em
		&-status
			padding: 2px 5px
			display: inline-block
			border-radius: 3px
			margin-rigth: 5px
			background-color: var(--primary-color-subtle)
			&.open
				background: var(--accent-color)
				color: var(--primary-text)
			&.todo
				background: orange
				color: var(--secondary-text-hue)
			&.progress
				background: yellow
				color: #000
			&.close
				background: var(--danger-color)
				color: var(--primary-text)

.comment-form
	display: grid
	grid-template-columns: 100px 1fr
	border: 1px solid var(--primary-color-hue)
	padding: var(--padding)
	box-sizing: border-box
	grid-gap: var(--padding)
	margin: var(--padding)
	&-buttons
		display: flex
		justify-content: flex-end
		button
			margin-left: var(--padding)
	form
		display: flex
		flex-direction: column
