.comment
	&-content
		&-title
			color: var(--gray-text)
			font-weight: bold
			font-size: 1.2em
	&-dropdown
		font-size: 20px
		font-weight: bold
		cursor: pointer
		display: flex
		align-items: flex-start

mat-card-subtitle
	display: flex
	align-items: center
	justify-content: space-between
