
.errors
	font-size: 10px

input
	font-size: 14px
	height: 36px
	box-sizing: border-box
	padding: 5px
	display: inline-block
	border: 1px solid var(--primary-color-subtle)

form
	display: flex
	align-items: center
	justify-content: flex-start

button
	margin-left: var(--padding)
