<mat-card class="my-card">
	<mat-toolbar>
		<span>Registration</span>
	</mat-toolbar>
	<mat-card-content>
		<form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()">
			<mat-form-field class="full-width">
				<mat-label>User Name</mat-label>
				<input matInput placeholder="Enter your username" formControlName="username">
				<mat-error *ngIf="form.get('username').invalid && form.get('username').touched">
					<span *ngIf="form.get('username').hasError('required')">
						Please write User Name
					</span>
					<span *ngIf="form.get('username').hasError('minlength')">
						Min length 4 letters
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>First Name</mat-label>
				<input matInput placeholder="First name" formControlName="firstName">
				<mat-error *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
					<span *ngIf="form.get('firstName').hasError('required')">
						Please write First Name
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Last Name</mat-label>
				<input matInput placeholder="Last Name" formControlName="lastName">
				<mat-error *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
					<span *ngIf="form.get('lastName').hasError('required')">
						Please write Last Name
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Address</mat-label>
				<input matInput placeholder="Address" formControlName="address">
				<mat-error *ngIf="form.get('address').invalid && form.get('address').touched">
					<span *ngIf="form.get('address').hasError('required')">
						Please write Address
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Email</mat-label>
				<input matInput placeholder="Enter your email" formControlName="email">
				<mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
					<span *ngIf="form.get('email').hasError('required')">
						Please write Email
					</span>
					<span *ngIf="form.get('email').hasError('minlength')">
						Min length 4 letters
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Password</mat-label>
				<input matInput placeholder="Password" type="password" formControlName="password" name="password">
				<mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
					<span *ngIf="form.get('password').hasError('required')">
						Please write password
					</span>
					<span *ngIf="form.get('password').hasError('minlength')">
						Min length 6 letters
					</span>
				</mat-error>
			</mat-form-field>
			<section class="example-section">
				<label class="full-width">Gender:</label>
				<br>
				<br>
				<mat-radio-group formControlName="gender">
					<mat-radio-button class="example-margin" value="men">Men</mat-radio-button>
					<mat-radio-button class="example-margin" value="women">Women</mat-radio-button>
					<mat-radio-button class="example-margin" value="other">Other</mat-radio-button>
				</mat-radio-group>
			</section>
			<mat-form-field class="full-width">
				<mat-label>Date of Birth</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error *ngIf="form.get('date').invalid && form.get('date').touched">
					<span *ngIf="form.get('date').hasError('required')">
						Please write Date of Birth
					</span>
				</mat-error>
			</mat-form-field>
			<mat-card-actions>
				<button mat-raised-button [disabled]="form.invalid || form.disabled" type="submit"
					color="primary">REGISTER</button>
			</mat-card-actions>
		</form>
	</mat-card-content>
</mat-card>
