<mat-card class="my-card">
	<mat-toolbar>
		<span>LOGIN</span>
	</mat-toolbar>
	<mat-card-content>
		<form class="my-form"
		[formGroup]="form"
		(ngSubmit)="onSubmit()"
		>
			<mat-form-field class="full-width">
				<mat-label>Username or Email</mat-label>
				<input matInput placeholder="Enter your UserName or email" formControlName="email" required>
				<mat-error *ngIf="form.get('email').invalid && form.get('email').touched">
					<span *ngIf="form.get('email').hasError('required')">
						Please write UserName or Email
					</span>
					<span *ngIf="form.get('email').hasError('minlength')">
						Min length 4 letters
					</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Password</mat-label>
				<input matInput placeholder="Password" type="password" formControlName="password" name="password">
				<mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
					<span *ngIf="form.get('password').hasError('required')">
						Please write password
					</span>
					<span *ngIf="form.get('password').hasError('minlength')">
						Min length 6 letters
					</span>
				</mat-error>
			</mat-form-field>
			<mat-card-actions>
				<button mat-raised-button
				[disabled]="form.invalid || form.disabled"
				type="submit"
				color="primary"
				>
					LOGIN
				</button>
			</mat-card-actions>
		</form>
	</mat-card-content>
		<h2 class='center'>Or</h2>
		<mat-form-field>
			<mat-label>Select user for the test</mat-label>
			<mat-select (selectionChange)="selectUser($event.value)">
				<mat-option *ngFor="let user of users" [value]="user.username">
				{{user.username}}
				</mat-option>
			</mat-select>
		</mat-form-field>
</mat-card>
