:host
	display flex
	align-items center
	justify-content center
	flex-direction: column
	width 100%
	height 100%

.my-card
	display: flex
	flex-direction: column
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
	position: relative
	margin: var(--margin) 0
	background-color: var(--secondary-color)
	transition: box-shadow .25s
	border-radius: 2px
	width 100%
	max-width 400px
	box-sizing: border-box

.mat-toolbar
	background-color transparent

form
	align-items center
	justify-content center
	flex-direction: column
	display flex

.mat-card>.mat-card-actions:last-child
	margin-bottom 0
	
mat-form-field
	align-self: normal
	margin: var(--margin) 0
	&:last-child
		margin-bottom 0

mat-card-actions
	display flex
	align-items center
	justify-content center

mat-toolbar
	justify-content center
	padding: var(--padding)
