
.columns
	background-color: var(--primary-color-subtle)
	display: flex
	grid-gap: var(--padding)
	padding: var(--padding)
	overflow-x: scroll
	max-width: 100vw

.column
	padding: .2em
	max-width: 300px
	width: 300px
	min-height: 700px
	&.add-column
		margin-top: 60px
		cursor: pointer
.add
	&-column
		&-wrap
			font-size: 24px
			font-weight: 500
			display: flex
			align-items: center
			justify-content: center
			min-height: 124px
			border: 1px dashed var(--primary-color)
		&-form
			display flex
			flex-direction: column

.issue
	margin-bottom: var(--padding)

.center
	text-align: center

section
	margin-bottom: 10px
