
.cards
	background-color: var(--primary-color-subtle)
	display: grid
	grid-gap: var(--padding)
	grid-template-rows: 1fr
	padding: var(--padding)

.center
	text-align: center

section
	margin-bottom: 10px
