
.cards
	background-color: var(--primary-color-subtle)
	display: grid
	grid-gap: var(--padding)
	grid-template-rows: 1fr
	padding: var(--padding)

.center
	text-align: center

mat-card
	cursor: pointer

.errors
	font-size: 10px



section
	margin-bottom: var(--padding)

.project-form
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	max-width: 600px
	margin: 0 auto

button
	margin-left: var(--padding)
