:root
	--padding: 10px

.cards
	background-color: #ccc
	display: grid
	grid-gap: var(--padding)
	grid-template-rows: 1fr
	padding: var(--padding)

.center
	text-align: center

mat-card
	cursor: pointer

.errors
	font-size: 10px

input
	font-size: 14px
	height: 36px
	box-sizing: border-box
	margin-right: var(--padding)
	padding: 5px
	display: inline-block

section
	margin-bottom: var(--padding)

form button
	margin-right: var(--padding)
