<form [formGroup]="form">
	<mat-form-field>
		<textarea matInput placeholder="new message" formControlName="message"></textarea>
	</mat-form-field>
	<div class="errors">
		<mat-error *ngIf="form.get('message').invalid && form.get('message').touched">
			<span *ngIf="form.get('message').hasError('required')">
				Please write message
			</span>
		</mat-error>
	</div>
	<div class="form-buttons">
		<button mat-flat-button color="accent" *ngIf="isCloseIssue; else sentMessage" (click)='closeIssue()'>Close
			issue</button>
		<ng-template #sentMessage>
			<button mat-flat-button color="accent" [disabled]="form.invalid || form.disabled"
				(click)=closeIssueAndCommit()>Close && Comment</button>
		</ng-template>
		<button mat-flat-button color="primary" [disabled]="form.invalid || form.disabled" (click)=addNewCommit()>Comment</button>
	</div>
</form>
